@page "/counter"

<div style="width: 375px; height: 812px; background-color: #2F2E3E">
    <div class="container">

        <div class="app-header d-flex justify-content-between">
            <img src="images/targe-logo.svg" />
            <img src="images/menu.svg" />
        </div>


    </div>
</div>

    @*<RadzenAccordion Style="">
        <Items>
            <RadzenAccordionItem Text="Orders" Icon="account_balance_wallet">
                Details for Orders
            </RadzenAccordionItem>
            <RadzenAccordionItem Text="Employees" Icon="account_box">
                Details for Employees
            </RadzenAccordionItem>
            <RadzenAccordionItem Text="Customers" Icon="accessibility">
                Details for Customers
            </RadzenAccordionItem>
        </Items>
    </RadzenAccordion>*@

<style>



</style>


@code {
   
}

